@charset "UTF-8";

/* Todas as demais midias */

/* Typical Device Breakpoints: 
    Extra small phones - até 600px
    Smartphones - até 768px
    Tablets - até 992px
    Laptops - até 1200px
    Tv - 1200px-...

    no ano de 2023
*/

@media print {

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/icon-print.png);
    }   

    main {
        border: 2px solid black;
    }

    main, h1 {
        text-shadow: none;
        color: black;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    #phone { display: none; }
    #table { display: block; }
    #print { display: none; }
    #pc { display: none; }
    #tv { display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    #phone { display: none; }
    #table { display: none; }
    #print { display: none; }
    #pc { display: block; }
    #tv { display: none; }
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    #phone { display: none; }
    #table { display: none; }
    #print { display: none; }
    #pc { display: none; }
    #tv { display: block; }
}